body {
    background-color: black;
    color: grey;
}

pre {
    color: lightgray;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#itemName {
     /* todo: make scary */
    line-height: 1.6;
    color: red;
}

button {
    color: rgb(192, 133, 133);
}

#resetbutton {
    margin: 30px;
    color: black;
}

input {
    color: white;
}

#main {
    margin: 30px;
}

#symbol {
    font-size: 50px;
}

.notificationClose {
    position:absolute;
    z-index:1;
    left:30px;
    top:55px;
    width: 80%;
    height: 400px;  
    padding: 50px;
    color: white;
    background-color: rgb(56, 45, 45);
    border: 1px solid red;
    opacity: 0.95;
    box-sizing: content-box;
  }


  
.notificationItem {
    position:absolute;
    z-index:1;
    left:30px;
    top:55px;
    width: 200px;
    height: 70px;  
    padding: 50px;
    color: white;
    background-color: rgb(56, 45, 45);
    border: 1px solid red;
    opacity: 0.95;
    box-sizing: content-box;
  }